services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: radio
      POSTGRES_PASSWORD: radio
      POSTGRES_DB: radioos
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: ../backend
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgresql+psycopg://radio:radio@db:5432/radioos
      APP_ENV: local
      ROUTER_SERVICE_TOKEN: change-me-long-random
      SECURE_HEADERS_ENABLED: "false"
      CORS_ALLOWED_ORIGINS: ""
    ports:
      - "8000:8000"
    depends_on:
      - db

  icecast:
    image: moul/icecast
    ports:
      - "8001:8001"
    environment:
      ICECAST_SOURCE_PASSWORD: hackme
      ICECAST_RELAY_PASSWORD: hackme
      ICECAST_ADMIN_PASSWORD: hackme
      ICECAST_ADMIN_USERNAME: admin
      ICECAST_HOSTNAME: localhost
      ICECAST_LOCATION: Local
      ICECAST_ADMIN_EMAIL: admin@localhost

  live_source:
    image: jrottenberg/ffmpeg:6.1-alpine
    depends_on:
      - icecast
    command: >
      -re -f lavfi -i sine=frequency=880:sample_rate=44100
      -c:a libmp3lame -b:a 128k -content_type audio/mpeg
      -f mp3 icecast://source:hackme@icecast:8001/live

  autodj_source:
    image: jrottenberg/ffmpeg:6.1-alpine
    depends_on:
      - icecast
    command: >
      -re -f lavfi -i sine=frequency=440:sample_rate=44100
      -c:a libmp3lame -b:a 128k -content_type audio/mpeg
      -f mp3 icecast://source:hackme@icecast:8001/autodj

  router:
    build:
      context: ../router
      dockerfile: Dockerfile
    environment:
      API_BASE_URL: http://api:8000
      ROUTER_SERVICE_TOKEN: change-me-long-random
      STATION_SLUGS: demo-fm
      LIVE_SOURCE_URL: http://icecast:8001/live
      AUTODJ_SOURCE_URL: http://icecast:8001/autodj
      HLS_ROOT: /hls
      SILENCE_DB: -45dB
      SILENCE_MIN_SECONDS: 3
      SILENCE_FAILOVER_SECONDS: 6
      POLL_SECONDS: 2
      ROUTER_HTTP_PORT: 9102
    volumes:
      - hlsdata:/hls
    ports:
      - "9102:9102"
    depends_on:
      - api
      - icecast
      - live_source
      - autodj_source

  hls_web:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - hlsdata:/usr/share/nginx/html/hls:ro
    depends_on:
      - router

volumes:
  pgdata:
  hlsdata:
